.espace-pedagogique {
  a {
    //text-decoration: underline;
    //font-weight: bold;
  }
  .content {
    line-height: 1.8em;
    text-align: justify;
    p {
      margin: 20px 0;
    }
    a {
      @include link-hover;
      background-image: linear-gradient(var(--page-color) 0%, var(--page-color) 100%);
    }
  }
  .images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(9, auto);
    align-items: flex-end;
    grid-gap: 40px 20px;
    margin-top: 80px;
    figure {
      width: 100%;
      grid-row-end: span 3;
      @include underline(var(--page-color));
      &:after {
        right: 0;
        left: 10px;
        height: 15px;
        bottom: -3px;
      }
      &:nth-child(odd) {
        &:after {
          left: 0;
          right: 10px;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &:nth-child(even) {
        grid-row-start: span 5;
      }
      &:nth-child(4n+4) {
        grid-row-start: span 2;
      }
      figcaption {
        position: absolute;
        bottom: -30px;
      }
    }
  }
  .mediation {
    margin-top: 70px;
  }
}

@media screen and (max-width: $bp-s) {
  .espace-pedagogique {
    .images {
      grid-template-columns: 1fr;
      grid-gap: 20px;
      figure {
        width: 90%;
        margin-left: auto;
        &:nth-child(odd) {
          margin-right: auto;
          margin-left: 0;
        }
      }
    }
  }
}