.single-exhibition, .single-event {
  .hero {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
  }

  .single__title {
    color: var(--page-color);
    margin-bottom: 25px;
    line-height: 1em;
    opacity: 0;

    &:after {
      content: none;
    }
  }

  .title {
    &:after {
      width: 0;
      opacity: 0;
      transition: opacity 0s 0s;
    }

    &.show {
      &:after {
        opacity: 1;
        width: auto;
        animation: appearAfter 1s 0.4s ease-out;
      }
    }

    @keyframes appearAfter {
      0% {
        right: 200%;
        opacity: 0;
      }
      0% {
        opacity: 1;
      }
      100% {
        right: 10px;
        opacity: 1;
      }
    }
  }

  .subtitle {
    color: $white;
    background-color: var(--page-color);
    padding: 3px 10px;
    font-weight: normal;
    font-style: italic;

    &:after {
      content: none;
    }
  }

  .content {
    &__first {
      padding-left: 10%;
      margin-bottom: 100px;
      margin-top: 80px;
      display: block;

      > div {
        max-width: 1600px;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }

      .media__container {
        img {
          max-height: 500px;
          width: 100%;
          height: auto;
        }
      }
    }

    &__second {
      background-color: var(--page-color);
      margin-bottom: 60px;

      > div {
        display: flex;
        max-width: 1600px;
        margin: auto;
        align-items: center;
      }

      .media__container {
        //min-height: 400px;
        //max-height: 450px;
        padding-left: 60px;
        width: 60%;

        img {
          width: 100%;
          height: auto;
        }

        figure {
          position: static;
          margin-top: -30px;
          margin-bottom: -30px;
          pointer-events: none;
          max-width: 100%;
        }

        figcaption {
          text-align: left;
          position: absolute;
          left: 0;
          top: 100%;
        }
      }
    }
  }

  .media__container {
    position: relative;
    flex-basis: auto;
    max-width: 60%;
    &--iframe {
      flex-grow: 1;
      margin-right: 50px;
    }
    iframe, img {
      width: 100%;
    }

    img {
      //width: 100%;
      //height: auto;
      //height: 100%;
      //width: auto;
      //object-fit: cover;
    }

    figcaption {
      text-align: right;
    }
  }

  .iframe__container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  .text {
    text-align: justify;
    line-height: 1.8em;

    p {
      margin-bottom: 15px;
      clear: both;
    }

    figure {
      max-width: 100%;
    }

    img {
      max-width: 100%;
    }

    .entry-content-wrapper {
      width: 1024px;
      max-width: 100%;
      margin: auto;
    }

    .entry-content-asset {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 56.25%;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .text--main {
    padding-right: 100px;
    flex-basis: 40%;
    min-width: 350px;
  }

  .text--secondary {
    margin-top: 120px;
    max-width: 1600px;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .information {
    color: $white;
    margin: 30px 0;
    text-align: right;
    padding: 10px 30px;
    padding-right: 60px;
    grid-column-end: span 2;
    flex-grow: 1;

    a {
      color: inherit;
      text-decoration: underline;
      word-break: break-word;
    }

    strong {
      display: block;
    }

    li {
      margin-bottom: 10px;
    }
  }

  .gallery {
    display: flex;
    flex-direction: column;
    margin-top: 120px;

    figure {
      width: 60%;
      max-width: 1024px;
      min-width: 500px;
      margin-bottom: 30px;

      &:nth-child(even) {
        align-self: flex-end;

        .image__container {
          &:after {
            left: 30px;
            right: 0;
          }
        }

        figcaption {
          margin-top: 15px;
          margin-right: 10px;
          text-align: right;
        }

      }

      .image__container {
        position: relative;
        @include underline(var(--page-color));

        &:after {
          right: 30px;
          left: 0;
        }
      }
    }

    img {
      z-index: 2;
      height: auto;
      position: relative;
      width: 100%;
    }

    figcaption {
      margin-top: 10px;
      margin-left: 10px;
    }
  }

}

@media screen and (max-width: 1600px) {
  .single-exhibition, .single-event {
    .content__first {
      figcaption {
        padding-right: 20px;
      }
    }
  }
}

@media screen and (max-width: $bp-l) {
  .single-exhibition, .single-event {
    .content {
      &__first {
        padding-left: 7%;
      }
    }
  }
}

@media screen and (max-width: $bp-m) {
  .single-exhibition, .single-event {
    .title {
      font-size: 45px;

      &:after {
        bottom: 5px;
      }
    }

    .subtitle {
      font-size: 24px;
    }

    .text {
      line-height: 1.7em;
    }

    .gallery {
      margin-top: 80px;
    }
  }
}

@media screen and (max-width: $bp-s) {
  .single-event, .single-exhibition {
    font-size: 15px;
  }
}

@media screen and (max-width: $bp-s) {
  .single-event, .single-exhibition {
    .content {
      &__first, &__second {
        > div {
          flex-direction: column;
          display: block;
        }
      }

      &__first {
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
        padding-left: 0;

        .media__container {
          max-width: unset;
          width: 100%;
        }
      }

      &__second {
        margin-top: 120px;

        .media__container {
          padding-left: 0;
          max-width: unset;
          width: 80%;
          margin: 0 auto;
          top: -30px;

          img {
            max-width: 100%;
          }

          figcaption {
            position: static;
          }
        }
      }
    }

    .information {
      text-align: center;
      margin-top: 0;
      padding: 10px 30px 20px;
    }

    .text {
      &--main {
        padding-right: 0;
        margin-bottom: 30px;
        min-width: 0;
      }

      &--secondary {
        margin-top: 60px;
      }
    }
  }
}

@media screen and (max-width: $bp-xs) {
  .single-event, .single-exhibition {
    .title {
      font-size: 40px;
      line-height: 1;

      &:after {
        bottom: 0;
      }
    }

    .information {
      //margin-top: 0;
      //padding: 0 30px 10px;
    }

    .gallery {
      figure {
        width: 90%;
        max-width: unset;
        min-width: unset;
      }
    }

    .post__navigation {
      font-size: 22px;
      flex-direction: column;
      align-items: flex-start;
    }

    .post__next {
      margin-top: 60px;
    }
  }
}
