.single {
  &-mediation, &-post {
    .title {
      font-size: 42px;
      margin-bottom: 10px;
      &__container {
        padding-left: 0;
      }
      &:after {
        bottom: 5px;
      }
    }
    .row {
      margin-bottom: 60px;
    }
  }

  &-mediation {
    .single__thumb {
      &:after {
        content: none;
      }
    }
  }

  &__date {
    font-family: $font-avenir;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--main-color);
    margin: 0 0 35px;
    display: block;
  }

  &__content {
    font-size: 16px;
    line-height: 1.8em;
    text-align: justify;
    max-width: 900px;
    margin: auto;
    p {
      margin: 20px 0;
    }
    a {
      @include link-hover;
      background-image: linear-gradient(var(--page-color) 0%, var(--page-color) 100%);
    }
  }

  &__thumb {
    margin: 40px auto;
    display: block;
    text-align: center;
    width: auto;
    max-width: 900px;
    @include underline(var(--page-color));
    &:after {
      right: -10px;
      left: 10px;
      height: 15px;
      bottom: -5px;
    }
    img {
      max-width: 100%;
      width: 900px;
      height: auto;
      object-fit: cover;
    }
  }
  .gallery__slider {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: $bp-xs) {
  .single {
    &-post, &-mediation {
      .title {
        font-size: 32px;
        hyphens: none;
      }
    }
  }
}