.swiper-button-next, .swiper-button-prev {
  background: none;
  position: relative;
}

.arrows {
  display: flex;
  justify-content: space-between;
  width: 80px;
  margin-left: auto;
  user-select: none;

  .arrow {
    width: 20px;
    cursor: pointer;
    margin-top: 0;
    user-select: none;
    &-reverse {
      transform: rotate(180deg);
      margin-top: -5px;
    }
  }

  &--big {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    .arrow {
      transform: rotate(-90deg);
      fill: rgba($white, 0.85);
      height: 70px;
      width: auto;
      top: 0;
      left:0;
      right: 0;
      path {
        box-shadow: 1px 1px 1px rgba($black, 0.6);
      }
      &--reverse {
        transform: rotate(90deg);
      }
    }
  }
}
