body {
  font-family: $font-open-sans;
  line-height: 1.5em;
}

#body {
  overflow: hidden;
}

h1 {
  font-family: $font-avenir;
  font-weight: 800;
  font-size: 60px;
  line-height: initial;
  text-transform: uppercase;
  //display: inline-block;
}

h2 {
  font-family: $font-avenir;
  font-weight: 800;
  font-size: 32px;
  line-height: initial;
  //display: inline-block;
}

.title {
  position: relative;
  z-index: 2;
  margin-top: 40px;
  margin-bottom: 60px;
  display: table;
  text-transform: uppercase;
  font-size: 60px;
  max-width: 90%;

  &:after {
    content: '';
    position: absolute;
    height: 20px;
    background-color: var(--page-color);
    bottom: 10px;
    left: -150%;
    right: -10px;
    transform: rotate(-0.5deg);
    z-index: -1;
    display: block;
    clear: both;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 14%;
    margin-top: 30px;

    &--right {
      padding: 0;
      align-items: flex-end;

      .title {
        padding-right: 20%;

        &:after {
          left: -10px;
          right: 0;
        }
      }
    }
  }
}

.subtitle {
  position: relative;
  z-index: 2;
  display: table;

  &:after {
    content: '';
    position: absolute;
    height: 20px;
    background-color: $yellow;
    bottom: 20px;
    transform: rotate(-0.5deg);
    z-index: -1;
    left: -10px;
    right: -10px;
  }
}

h3 {
  font-family: $font-avenir;
}

h4 {
  font-family: $font-avenir;
}

a {
  color: var(--page-color);
  text-decoration: none;
  z-index: 2;
}

a, button {
  &:focus {
    outline: 0;
  }
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

small {
  font-size: 13px;
}

figcaption {
  font-size: 14px;
  font-style: italic;
}

q, blockquote {
  quotes: "“" "”";
  display: inline-block;
  position: relative;
  font-style: italic;

  &:before, &:after {
    position: absolute;
    top: 10px;
    left: -30px;
    color: darken($white, 20%);
    font-size: 6em;
    z-index: -1;
  }

  &:after {
    content: close-quote;
    top: auto;
    left: auto;
    bottom: -30px;
    right: -15px;
  }

  &:before {
    content: open-quote;
  }
}

cite {
  display: block;
}

.size-full {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: $bp-xs) {
  .title {
    font-size: 45px;
    margin-bottom: 30px;
    hyphens: auto;

    &:after {
      height: 15px;
      bottom: 10px;
    }
  }
  .subtitle {
    font-size: 28px;
  }
}


@media screen and (max-width: $bp-xxs) {
  .title {
    font-size: 34px;
    hyphens: none;
    &__container {
      padding-left: 9%;
    }
    &:after {
      height: 16px;
      bottom: 5px;
    }
  }
  .subtitle {
    font-size: 24px;
    &:after {
      bottom: 14px;
    }
  }
}