@mixin link-hover() {
  padding: 3px 5px;
  background-image: linear-gradient(120deg, rgba($blue, 0.7) 0%, rgba($blue, 0.7) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0;
  background-position: 0 80%;
  transition: background-size 0.2s ease-in;
  &:hover {
    background-size: 100% 90%;
  }
}

@mixin underline($color: $blue) {
  position: relative;
  &:after {
    z-index: -1;
    content: '';
    position: absolute;
    height: 20px;
    background-color: $color;
    bottom: -10px;
    left: 0;
    right: 0;
  }
}
