@mixin link-hover($color: $blue) {
  padding: 3px 5px;
  $color: rgba($color, 0.7);
  background-image: linear-gradient($color 0%, $color 100%);
  //background-image: linear-gradient(120deg, RGBA($color, 0.7) 0%, RGBA($color, 0.7) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0;
  background-position: 0 80%;
  transition: background-size 0.2s ease-in, color 0.2s ease-in;
  &:hover {
    color: $white;
    background-size: 100% 90%;
  }
}

@mixin underline($color: $blue) {
  position: relative;
  &:after {
    z-index: -1;
    content: '';
    position: absolute;
    height: 16px;
    background-color: $color;
    bottom: -10px;
    left: 0;
    right: 0;
    transition: bottom cubic-bezier(.22,.61,.36,1) 0.15s;
  }
  &:hover {
    &:after {
      //bottom: -5px;
    }
  }
  /*  &::before {
      width: 0;
      left: 0;
      transition: width ease 0.4s;
    }
    &::after {
      width: 100%;
      pointer-events: none;
      left: 0;
    }

    &:hover {
      &::before {
        width: 100%;
      }

      &::after {
        left: 100%;
        width: 0;
        transition: all ease 0.2s;
      }
    }*/
}
