/** Import Bootstrap functions */
//@import "~bootstrap/scss/functions";

$blue: #7eb2dd;
$yellow: #fee155;
$orange: #fea522;
$red: #fe1a38;
$pink: #ffaac2;
$pink-dark: #b7666a;
$green: #b9f27f;

$black: #000;
$white: #fff;
$grey: #2b2b2b;
$grey-light: #d0d0d0;

:root {
  --page-color: #7eb2dd;
  --main-color: #7eb2dd;
  .news, .blog {
    --page-color: #fff;
    --main-color: #b7666a;
  }
  .single-post {
    --page-color: #facacb;
    --main-color: #b7666a;
  }
  .mediation, .single-mediation, .post-type-archive-mediation {
    --page-color: #a1dd63;
    --main-color: #a1dd63;
  }
}

$header-height: 70px;
$padding-sides: 60px;

/** Hamburger icon */
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 25px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 5px;
$hamburger-layer-color: $white;
$hamburger-layer-border-radius: 0;
$hamburger-types: (spin);

$bp-xxl: 1366px;
$bp-xl: 1280px;
$bp-l: 1024px; // Tablet Landscape
$bp-m: 960px;
$bp-s: 768px; // Tablet
$bp-xs: 640px;
$bp-xxs: 480px;

