.button {
  background-color: $blue;
  font-style: italic;
  color: $white;
  font-weight: 500;
  font-size: 18px;
  font-family: $font-avenir;
  padding: 3px 8px;
  margin-top: 10px;
  display: inline-block;
  backface-visibility: hidden;
  -webkit-appearance: none;

  i {
    font-family: "Arial Narrow", sans-serif;
  }
  &:hover {
    background-color: lighten($blue, 5);
  }
  &--big {
    font-size: 20px;
    background-color: $grey;
    padding: 10px;
    box-shadow: 6px 6px 0 var(--main-color);
    transform: rotate(-2deg);
    &:hover {
      background-color: darken($grey, 5);
    }

  }
  &__container {
    text-align: right;
    padding-bottom: 50px;
    & {
      margin-right: 40px;
    }
  }
}
