.gallery__slider {
  max-width: 1024px;
  margin: 60px auto 0;
  max-height: calc(100vh - 100px);

  .swiper-slide {
    background: $grey-light;
  }
  .slider__title {
    font-size: 20px;
    margin-bottom: 15px;
    color: $black;
    font-weight: 800;
    text-transform: uppercase;
  }
  .image__container {
    text-align: center;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
  }
  figcaption {
    background-color: white;
    padding-left: 10px;
    padding-top: 2px;
  }
  .swiper-button-next, .swiper-button-prev {
    //position: absolute;
  }

}
