.banner {
  display: flex;
  width: 100%;
  background-color: $black;
  color: $white;
  position: relative;
  //padding: 15px 20px;
  //height: $header-height;
  padding: 25px 20px;
  height: 70px;
  .logo {
    width: 230px;
  }
  .hamburger {
    margin-left: auto;
    z-index: 15;
    &-box {
      transform: rotate(180deg);
    }
    &:not(.is-active) {
      .hamburger-inner {
        &::before {
          width: 20px;
        }
        &::after {
          width: 15px;
          transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), width 0.1s 0.3s;
        }
      }
    }
  }
}

.nav-primary {
  margin-left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: $black;
  z-index: 10;
  font-family: $font-avenir;
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.5em;
  text-align: right;
  padding: 80px 30px 30px;
  transform: translateX(100%);
  transition: transform 0.35s ease-in;
  a {
    color: $white;
    &:hover {
      @include underline();
      &:after {
        height: 8px;
        bottom: 5px;
        left: 10px;
      }
    }
  }
}

.hamburger.is-active + .nav-primary {
  visibility: visible;
  transform: none;
  transition: transform 0.35s ease-out;
}