.banner {
  display: flex;
  width: 100%;
  background-color: $black;
  color: $white;
  padding: 15px 20px;
  height: $header-height;
  .logo {
    width: 200px;
  }
  .hamburger {
    margin-left: auto;
    &-box {
      transform: rotate(180deg);
    }
    &:not(.is-active) {
      .hamburger-inner {
        &::before {
          width: 20px;
        }
        &::after {
          width: 15px;
          transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), width 0.1s 0.3s;
        }
      }
    }
  }
}

.nav-primary {
  margin-left: 0;
  display: none;
}
